### DB Functions with POSTGRES

![Postgres_logo](postgres_logo.jpg)

In [1]:
# Import Library to interface with Postgres DB
import psycopg2 as pgres

In [2]:
# Connect with the local instance with Postgres
conn = pgres.connect(user = "postgres", 
                     password = "password",
                     host = "localhost",
                     port = "5432",
                     database = "course_data"
                    )

# Create a cursor for connection object
cursor = conn.cursor()

# Query to select all rows of courses column
query = "select * from courses"

# Execute sql query
cursor.execute(query)

# Fetch all the records
records = cursor.fetchall()

In [3]:
print(records)

[('CS110', 'Pre Calculus', 4), ('CS180', 'Physics', 4), ('CS107', 'Intro to Psychology', 3), ('CS210', 'Art History', 3), ('CS220', 'US History', 3)]

In [4]:
import pandas as pd

In [9]:
pd.DataFrame(records,columns=["Code","Subject","Credits"])

    Code              Subject  Credits
0  CS110         Pre Calculus        4
1  CS180              Physics        4
2  CS107  Intro to Psychology        3
3  CS210          Art History        3
4  CS220           US History        3

In [6]:
# Check the Try-Except block for executing the SQL query
try:
    cursor.execute("select * from course")
except pgres.Error as e:
    print(e)

relation "course" does not exist
LINE 1: select * from course
                      ^

In [7]:
if conn:
    cursor.close()
    conn.close()
    print('The Postgres connection is Closed')

The Postgres connection is Closed